services:
    con4gis_import.onImportRunGetSettings:
        class: con4gis\ImportBundle\Classes\Listener\ImportRunListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.run, method: onImportRunGetSettings, priority: 70 }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onImportRunGetInputData:
        class: con4gis\ImportBundle\Classes\Listener\ImportRunListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.run, method: onImportRunGetInputData, priority: 60 }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onImportRunGetPath:
        class: con4gis\ImportBundle\Classes\Listener\ImportRunListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.run, method: onImportRunGetPath, priority: 50 }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onImportRunLoadData:
        class: con4gis\ImportBundle\Classes\Listener\ImportRunListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.run, method: onImportRunLoadData, priority: 40 }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onImportRunConvertData:
        class: con4gis\ImportBundle\Classes\Listener\ImportRunListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.run, method: onImportRunConvertData, priority: 30 }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onImportRunBeforeSaveData:
        class: con4gis\ImportBundle\Classes\Listener\ImportRunListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.run, method: onImportRunBeforeSaveData, priority: 20 }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onImportRunSaveData:
        class: con4gis\ImportBundle\Classes\Listener\ImportRunListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.run, method: onImportRunSaveData, , priority: 10 }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onImportRunRenameFile:
        class: con4gis\ImportBundle\Classes\Listener\ImportRunListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.run, method: onImportRunRenameFile, priority: 0 }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onImportRunCleanupEvent:
        class: con4gis\ImportBundle\Classes\Listener\ImportRunListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.run, method: onImportRunCleanupEvent, priority: -1024 }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onConvertDataToArray:
        class: con4gis\ImportBundle\Classes\Listener\ConvertDataListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.convert, method: onConvertDataToArray }
        arguments:
            - '@contao.framework'

    con4gis_import.onConvertFieldsByName:
            class: con4gis\ImportBundle\Classes\Listener\ConvertDataListener
            tags:
                - { name: kernel.event_listener, event: con4gis.import.convert, method: onConvertFields }
            arguments:
                - '@contao.framework'

    con4gis_import.onConvertRowsToArrays:
            class: con4gis\ImportBundle\Classes\Listener\ConvertDataListener
            tags:
                - { name: kernel.event_listener, event: con4gis.import.convert, method: onConvertRowsToArrays }
            arguments:
                - '@contao.framework'

    con4gis_import.onConvertRowsByName:
            class: con4gis\ImportBundle\Classes\Listener\ConvertDataListener
            tags:
                - { name: kernel.event_listener, event: con4gis.import.convert, method: onConvertRows }
            arguments:
                - '@contao.framework'

    con4gis_import.onConvertInsertFields:
            class: con4gis\ImportBundle\Classes\Listener\ConvertDataListener
            tags:
                - { name: kernel.event_listener, event: con4gis.import.convert, method: onConvertInsertFields }
            arguments:
                - '@contao.framework'

    con4gis_import.onSaveDataTruncateTable:
        class: con4gis\ImportBundle\Classes\Listener\SaveDataListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.save, method: onSaveDataTruncateTable }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onSaveDataCreateTable:
        class: con4gis\ImportBundle\Classes\Listener\SaveDataListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.save, method: onSaveDataCreateTable }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onConvertDeleteFields:
        class: con4gis\ImportBundle\Classes\Listener\SaveDataListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.save, method: onConvertDeleteFields }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onSaveDataConvertAddresses:
        class: con4gis\ImportBundle\Classes\Listener\SaveDataListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.save, method: onSaveDataConvertAddresses }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_import.onSaveDataInsert:
        class: con4gis\ImportBundle\Classes\Listener\SaveDataListener
        tags:
            - { name: kernel.event_listener, event: con4gis.import.save, method: onSaveDataInsert }
        arguments:
            - '@doctrine.orm.default_entity_manager'

    con4gis_map_importer:
        class: con4gis\ImportBundle\Classes\MapImportService
        autoconfigure: true
        autowire: true
        public: true